.table {
	display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 100px;
  text-align: center;
}

table,
td,
th {
	padding: 10px 30px;
  font-weight: 500  ;
}


th {
	background-color: rgb(41, 213, 6);
}

table {
	border-collapse: collapse;
	width: 100%;
}

td {
	text-align: center;
}

footer{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 20vh;
  font-size: 18px;
}