.App {
	text-align: center;
	background-color: #dc701b;
	height: 100vh;
	color: white;
}
.container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container>p{
  margin-top: 30px;
  font-weight: 300;
  font-size: 15px;
}
.container>table>p{
  color:beige;
  font-size: large;
}