@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  background-color: #e07404;
}

.App {
  text-align: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  font-size: 25px;
  color: white;
}

.container {
  width: 100%;
  margin: 0 auto;
}

li {
  list-style: none;
}

.table__container {
  height: 100%;
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

th {
  padding: 2rem;
}

.message__container {
  margin: 2rem auto;
}

.currency__message {
  font-size: 1rem;
}